<div class="col-lg-3">
    <div class="list-group">
        <a href="admin.ejs" class="list-group-item list-group-item-action">首页</a>
        <a href="admin_lou.ejs" class="list-group-item list-group-item-action">添加楼层</a>
        <a href="list_lou.ejs" class="list-group-item list-group-item-action">宿舍楼管理</a>
        <a href="admin_student.ejs" class="list-group-item list-group-item-action">学生管理</a>
        <a href="list_apply.ejs" class="list-group-item list-group-item-action">申请列表</a>
        <a href="/LogOutAction" class="list-group-item list-group-item-action">退出</a>
    </div>
</div>