<!DOCTYPE html>
<html>
<head>
	<!-- bootstrap美化包 -->
	<%-include('bt.ejs')%>
</head>
<body class="text-center" style="background: url(photo/back1.jpg); background-size: 100% 100%;background-repeat: no-repeat; background-attachment: fixed">



	<div class="container">
		<!-- 导航栏 -->
         <%-include('nav.ejs')%>
				
		<div class="row" style="margin-top: 10px">
				<!-- 左栏 -->
		<%-include("admin_left.ejs") %>

			<div class="col-lg-9">
					<div class="jumbotron">
						<h2 class="display-4">桃李苑</h2>
						<p class="lead">一个和睦的大园区</p>
						<hr class="my-4">
					</div>
				</div>
			
		</div>			

			
				
		
	</div>
</body>
</html>