<!DOCTYPE html>
<html lang="en">
<head>    
	<%-include('bt.ejs')%>
</head>
<body class="text-center"
	style="background: url(photo/back.jpg); background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed">

    <div class="container">
		<div class="jumbotron"  style="margin-top: 150px">
			<h2 class="display-4">欢迎来到桃李苑管理系统</h2>
			<p class="lead">请选择操作</p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="login.ejs" role="button">登录</a>
			<a class="btn btn-primary btn-lg" href="reg.ejs" role="button">注册</a>
		</div>
	</div>
</body>
</html>