<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="index.ejs">桃李苑管理系统</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">查看作者</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">姓名：蒙锦涛</a> <a
						class="dropdown-item" href="#">班级：19计算机2班</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">学号：190110910317</a>
				</div></li>

				
			<li class="nav-item dropdown">
				<%  if (username != null) { %> 
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="ture"
					aria-expanded="true">
					<%- username %>	
					</a>
					<c:if test="${username!=null}">
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="changePwd.ejs">修改密码</a>
							<a class="dropdown-item" href="LogOutAction">登出</a>
						</div>
					</c:if>
				<% } %>
				<%  if (username == null) { %> 
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					未登录	
					</a> 
				<% } %>
				
			</li>
			
		</ul>
	</div>		
</nav>