<div class="col-lg-3">
    <div class="list-group">
        <a href="student.ejs" class="list-group-item list-group-item-action">首页</a>
        <a href="" class="list-group-item list-group-item-action">申请住宿</a>
        <a href="" class="list-group-item list-group-item-action">寝室信息</a>
        <a href="changePwd.ejs" class="list-group-item list-group-item-action">修改密码</a>
        <a href="/LogOutAction" class="list-group-item list-group-item-action">退出</a>
    </div>
</div>